@media (max-width: 767px) { /*  Блок для максим ширины 767 и 420 делает чтоб было по картачки 2 а не по 3 */
    .main {
        left: 10px;
        right: 10px;
        top: 50%;
        bottom: 12px;
        width: auto;
        max-width: none;
    }
}

@media (max-width: 420px) {
    .main-sizes {
        grid-template-columns: repeat(2, 1fr);
    }
}